<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  
  <p>
    <strong>Description:</strong>
    <%= student.description %>
  </p>

</div>
